@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');


div.last-news-section {
    padding: 19px 0;
    position: relative;
    
    width: 100%;
    /* border: 1px solid red; */
}

h1.last-news-title {
    text-align: center;
    font-size: 2.2em;
    font-weight: 400;
    color: #763938;
    position: relative;
    animation: slide .8s , fade-up .4s;
    /* font-family: 'Caveat', cursive; */
    /* font-family: 'Old Standard TT', serif; */
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
    padding-top: 1px;
}

h1.last-news-title > a:hover {
    color: inherit ;
}

div.last-news-block {
    /* background-color: blueviolet; */
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
    overflow: hidden;
    /* padding: 19px; */
    gap: 9px;
    animation: fade-up 1s ;
}

div.last-news-block > div.container {
    /* margin: 0 auto; */
    /* padding: 9px; */

}

div.item-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 19px;
}

div.item-group > div.the_slide {
    /* border: 1px solid red; */
    width: 392px ;
    height: 60vh ;
    position: relative ;
}

div.item-group > div.the_slide > div.date-time-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 ;
    margin: 0 0 9px 0 ;
    font-family: 'Roboto Mono', monospace;
}

div.item-group > div.the_slide img {
    width: 100%;
    height: 36vh;
    object-fit: cover;
    margin-bottom: 9px ;
    margin-top: 9px ;
}

div.item-group > div.the_slide > div.body {
    text-align: justify;
    position: relative;
    font-family: 'Roboto Mono';
    
}

div.item-group > div.the_slide > div.body > span.theme {
    color: black;
    font-size: 1.2em;
    text-align: left;
    /* font-family: 'Old Standard TT', serif; */
}

div.item-group > div.the_slide > div.body > span.theme a:hover {

    color: black;

}

div.item-group > div.the_slide > div.body > span.content {
    font-size: 1.2em;
    text-align: justify;
    /* font-family: 'Old Standard TT', serif; */
    font-family: serif;
    color: grey;
}

div.item-group > div.the_slide > div.body > div.hidder_lol {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-color: grey;
    display: none;
}

div.item-group > div.the_slide > div.mask-cover {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 19%;
	background-image: linear-gradient(to bottom, #fff0, whitesmoke);
}

div.last-news-section > div.pagination {
    background-color: red;
    width: max-content;
    margin: 0 auto;
}

/* === arrows === */

.carousel-control-next, .carousel-control-prev {
    width: 10%;
}

span.carousel-control-next-icon {
    background-image: url('../box-arrow-in-right.svg');
    width: 44px;
    height: 44px;
}

span.carousel-control-prev-icon {
    background-image: url('../box-arrow-in-left.svg');
    width: 44px;
    height: 44px;
}


/* ======== */


ol.carousel-indicators {
    position: static;
    margin-top: 29px;
}

ol.carousel-indicators li {
    background-color: #444c5c;
    width: 19px;
    height: 19px    ;
}

ol.carousel-indicators li.active {
    background-color: #ce5a57;
}


/* ================= key frames ==================== */


@keyframes fade-up {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slide {
    from {
        right: 199px;
    }

    to {
        right: 0;
    }
}